@model List<Store>

@{
    ViewData["Title"] = "AdminNotification";
}

<h1>AdminNotification</h1>

<div>

    

    <h2>Lista de Tiendas pendientes</h2>

    <table class="table">
        <thead>
            <tr>
                <th>IdUsuario</th>
                <th>Nombre de tienda</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var store in Model)
            {
                <tr>
                    <td>@store.UserId</td>
                    <td>@store.Name</td>
                    <td>@store.Description</td>
                </tr>
            }
        </tbody>
    </table>


</div>

