@model EMIM.ViewModel.UserViewModel

<main>
    <!--FLECHA HACIA ATRAS-->
    <div class="container">
      <div class="flex justify-start items-center p-4">
        <a href="javascript:history.back();" class="hover:text-gray-700 flex items-center mb-4 self-start ml-4">
          <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </a>
      </div>
    </div>
    
    <!--FORMULARIO DE REGISTRO-->
    <section class="flex justify-center w-full py-6">
        <div class="bg-white rounded-lg justify-center shadow-lg w-auto p-6">
            <form method="post" class="bg-white rounded w-auto mx-5">
                <h2 class="border font-bold text-4xl text-center h-16 p-2 text-gray-800 mb-6 rounded-lg"
                    style="background-color: #56b6cc;">Crear cuenta</h2>
                <!-- Muestra los errores de validacion -->    
                <div asp-validation-summary="ModelOnly" class="w-auto h-auto"> </div>
                <div id="personal-form">
                    <div class="flex justify-between mb-4">
                        <div class="w-1/2 mx-2">
                            <input type="text" class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 required"
                                placeholder="Nombre" asp-for="FirstName" />
                            <span asp-validation-for="FirstName" class="text-red-500"></span>
                        </div>
                        <div class="w-1/2">
                            <input type="text"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Apellido" asp-for="LastName" />
                            <span asp-validation-for="LastName" class="text-red-500"></span>
                        </div>
                    </div>

                    <div class="mb-4">
                        <input type="email"
                            class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                            placeholder="Correo electrónico" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-red-500"></span>
                    </div>

                    <div class="mb-4">
                        <input type="password"
                            class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                            placeholder="Contraseña" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-red-500"></span>
                    </div>

                    <div class="mb-4">
                        <input type="password"
                            class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                            placeholder="Confirmación de contraseña" asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
                        <!-- Para asignar un rol por defecto-->
                        <input type="hidden" asp-for="Role" value="Customer" />
                    </div>
                </div>
                <p class="text-sm text-gray-700">
                    Al seleccionar Crear cuenta, aceptas nuestras
                    <a href="#" class="text-blue-500">Condiciones de uso</a> y reconoces haber leído nuestro
                    <a href="#" class="text-blue-500">Aviso de privacidad</a>.
                </p>
                <div class="flex justify-center">
                    <button class="w-50 bg-blue-500 text-white font-bold py-2 px-4 mt-4 rounded hover:bg-blue-700"
                        style="background-color: #13678A;" type="submit">Registrar
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>