<div class="w-full flex flex-wrap justify-around bg-white">

    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125" asp-controller="home" asp-action="products" data-category-id="0" data-category-name="Todo">
        <img class="h-10 w-10" src="~/images/all.svg" alt="">
        <span class="text-sm text-center">Todo</span>
    </a>

    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="1" data-category-name="Ropa">
        <img class="h-10 w-10" src="~/images/dress_category.svg" alt="">
        <span class="text-sm text-center">Ropa</span>
    </a>
    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="2" data-category-name="Comida">
        <img class="h-10 w-10" src="~/images/foot_category.svg" alt="">
        <span class="text-sm text-center">Comida</span>
    </a>
    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="3" data-category-name="Tecnologia">
        <img class="h-10 w-10" src="~/images/tech_category.svg" alt="">
        <span class="text-sm text-center">Tecnología</span>
    </a>
    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="4" data-category-name="Juguetes">
        <img class="h-10 w-10" src="~/images/toy_category.svg" alt="">
        <span class="text-sm text-center">Juguetes</span>
    </a>
    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="5" data-category-name="Deporte">
        <img class="h-10 w-10" src="~/images/sport_category.svg" alt="">
        <span class="text-sm text-center">Deporte</span>
    </a>
    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="6" data-category-name="Maquillaje">
        <img class="h-10 w-10" src="~/images/makeup_category.svg" alt="">
        <span class="text-sm text-center">Maquillaje</span>
    </a>
    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="7" data-category-name="Hogar">
        <img class="h-10 w-10" src="~/images/home_category.svg" alt="">
        <span class="text-sm text-center">Hogar</span>
    </a>
    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="8" data-category-name="Libros">
        <img class="h-10 w-10" src="~/images/book_category.svg" alt="">
        <span class="text-sm text-center">Libros</span>
    </a>
    <a class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125 category-filter" data-category-id="9" data-category-name="Herramientas">
        <img class="h-10 w-10" src="~/images/tool_category.svg" alt="">
        <span class="text-sm text-center">Herramientas</span>
    </a>
</div>