<footer class="bg-[#63a9b8] text-white py-10">
    <div class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row justify-between space-y-8 md:space-y-0">

        <!-- Información de contacto -->
        <div class="space-y-6">
            <div class="flex items-center space-x-4">
                <div class="bg-gray-800 p-3 rounded-full">
                    <!-- Icono Ubicación -->
                    <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 11c1.104 0 2-.896 2-2s-.896-2-2-2-2 .896-2 2 .896 2 2 2z" />
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 22s8-4.5 8-11c0-4.418-3.582-8-8-8s-8 3.582-8 8c0 6.5 8 11 8 11z" />
                    </svg>
                </div>
                <div>
                    <p class="text-gray-700">C. 50 #46-36, La Candelaria</p>
                    <p class="font-semibold text-gray-700">Medellín, Antioquia</p>
                </div>
            </div>

            <div class="flex items-center space-x-4">
                <div class="bg-gray-800 p-3 rounded-full">
                    <!-- Icono Teléfono -->
                    <svg class="w-6 h-6 text-white" fill="currentColor" stroke-width="4" viewBox="0 0 100 100">
                        <path
                            d="m77.7 63.9l-6.2-5c-2.1-1.7-5.1-1.8-7.3-0.2l-5.9 4.3c-0.8 0.6-1.9 0.5-2.6-0.2l-9.7-8.8-8.9-9.8c-0.7-0.7-0.8-1.8-0.2-2.6l4.3-5.9c1.6-2.2 1.5-5.2-0.2-7.3l-5-6.2c-2.2-2.8-6.4-3-8.9-0.5l-5.4 5.4c-1.2 1.2-1.8 2.9-1.8 4.5 0.7 12.7 6.5 24.8 15 33.3s20.5 14.3 33.3 15c1.7 0.1 3.3-0.6 4.5-1.8l5.4-5.4c2.7-2.4 2.4-6.6-0.4-8.8z">
                        </path>
                    </svg>
                </div>
                <p class="font-semibold text-gray-700">+57 3005468971</p>
            </div>

            <div class="flex items-center space-x-4">
                <div class="bg-gray-800 p-3 rounded-full">
                    <!-- Icono Correo -->
                    <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                </div>
                <a href="mailto:4dm1nemim@gmail.com" class="text-gray-700 font-semibold">Admin@emim.com</a>
            </div>
        </div>

        <!-- About the company -->
        <div class="max-w-md">
            <h3 class="text-gray-700 font-semibold text-lg mb-4">Acerca de nosotros</del></h3>
            <p class="mb-4 leading-relaxed text-gray-700">
                EMIM es un proyecto de Ecommerce que está diseñado para proporcionar una solución robusta y escalable
                para los minoristas en línea, ofreciendo una experiencia de compra sin fisuras para los clientes y un
                sistema de gestión eficiente para los propietarios de tiendas.
            </p>
        </div>
    </div>
</footer>