<header class="w-full h-auto bg-[#56b6cc]">
    
        <div class="h-[50px] ml-4">
            <a asp-action="Index" asp-controller="Home"><img src="~/images/logo_sin_fondo.png" class="h-[45px] w-[40px]" alt="logo"></a>
        </div>
       
</header>
