<div class="w-full flex p-4 bg-white">
    <p class="text-md font-bold mr-4">Ordenar por:</p>
    <div class="mx-2 flex justify-center items-center border rounded-md w-[80px] shadow-md bg-gray-200 hover:bg-cyan-400/40 hover:shadow-cyan-400/30 hover:border-cyan-400/30 transition-colors duration-100">
        <img class="h-5 w-5" src="~/images/price-tag.svg" alt="">
        <span class="text-sm ml-[2px]">Precio</span>
    </div>
    <div class="mx-2 flex justify-center items-center border rounded-md w-[80px] shadow-md bg-gray-200 hover:bg-cyan-400/40 hover:shadow-cyan-400/30 hover:border-cyan-400/30 transition-colors duration-100">
        <img class="h-5 w-5" src="~/images/lightning.svg" alt="">
        <span class="text-sm ml-[2px]">Nuevo</span>
    </div>
    <div class="mx-2 flex justify-center items-center border rounded-md w-[80px] shadow-md bg-gray-200 hover:bg-cyan-400/40 hover:shadow-cyan-400/30 hover:border-cyan-400/30 transition-colors duration-100">
        <img class="h-5 w-5" src="~/images/star.svg" alt="">
        <span class="text-sm ml-[2px]">Review</span>
    </div>
</div>
