<section class="hidden flex-col w-full text-sm" id="exp-menu">
    <a class="text-center hover:bg-[#56b6cc] hover:text-white">Categorías</a>
    <a asp-controller="account" asp-action="login" class="text-center hover:bg-[#56b6cc] hover:text-white">Ingresar</a>
    <a asp-controller="account" asp-action="register" class="text-center hover:bg-[#56b6cc] hover:text-white">Crear cuenta</a>
    <a asp-controller="account" asp-action="login" class="text-center hover:bg-[#56b6cc] hover:text-white">Crear tienda</a>
    <a <a asp-controller="general" asp-action="help" class="text-center hover:bg-[#56b6cc] hover:text-white">Ayuda</a>
    <a class="text-center hover:bg-[#56b6cc] hover:text-white">Sobre nosotros</a>
    <a class="text-center hover:bg-[#56b6cc] hover:text-white">Contacto</a>
    <a class="text-center hover:bg-[#56b6cc] hover:text-white">Preguntas frecuentes</a>
</section>