@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMIM</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>


<body class="bg-[#fefeff] flex flex-col items-center">

    <header class="w-full bg-[#56B6CC] p-4 flex items-center justify-between">


        <section class="w-full">
            <nav class="flex flex-wrap items-center justify-between px-4 py-2" style="background-color: #56b6cc;">
                <div class="flex items-center">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images/logo_sin_fondo.png" alt="logo" class="h-16 w-auto p-2 cursor-pointer">
                    </a>
                </div>

                <form class="relative w-full max-w-md my-2" action="/buscar" method="GET">
                    <input name="query" type="search" placeholder="Buscar productos..."
                    class="shadow-lg border-gray-300 px-5 py-3 rounded-xl w-56 transition-all focus:w-64 focus:outline-none focus:ring-2 focus:ring-[#13678A]"
                    required />
                    <button type="submit" class="absolute top-3 ml-[-30px]">
                        <svg class="size-6 text-gray-500" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                            stroke-linejoin="round" stroke-linecap="round"></path>
                        </svg>
                    </button>
                </form>

                <div class="flex items-center gap-2">

                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="relative">
                                <a asp-controller="Admin" asp-action="AdminCreationShop"
                                class="bg-[#A9C8CF] p-2 rounded-full border border-black shadow-md flex items-center space-x-4 transition-transform duration-200 hover:scale-110">
                                    <i class="fas fa-user"></i>
                                    <span>SOLICITUDES</span>
                                    <span class="bg-red-500 text-white rounded-full px-2">1</span>
                                </a>
                            </div>

                        }

                        <!-- Icono de menú -->
                        <button id="toggle-menu"
                        class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center transition-transform duration-200 hover:scale-110">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>

                        <!-- Menú dinámico según el rol -->
                        <div id="menu"
                        class="menu-container bg-[#A9C8CF] rounded-lg shadow-lg flex-col items-center w-1/5 absolute top-20 right-1 z-20 hidden">
                            <div class="flex flex-col items-center justify-center p-4">
                                <b class="font-bold mb-2">Configuraciones</b>
                                <hr class="mb-2 w-full">

                                @if (User.IsInRole("Vendor"))
                                {
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Store" asp-action="StoreProfile">Perfil
                                        de Tienda</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Product"
                                    asp-action="NewProduct">Publicar Productos</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Question"
                                    asp-action="QuestionsAnswers">Preguntas de Productos</a>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Admin" asp-action="AdminProfile">Perfil
                                        de Admin</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Admin"
                                    asp-action="AdminCreationShop">Peticiones</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Product"
                                    asp-action="ProductosBloqueados">Productos Bloqueados</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="User"
                                    asp-action="UsuariosBloqueados">Usuarios Bloqueados</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Store"
                                    asp-action="TiendasBloqueadas">Tiendas Bloqueadas</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Admin"
                                    asp-action="RegisterUser">Registrar Usuarios</a>
                                }
                                @if (User.IsInRole("Customer"))
                                {
                                    <a class="hover:text-gray-700 mb-1" asp-controller="User"
                                    asp-action="UserProfile">Perfil</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="ShoppingCart"
                                    asp-action="ShoppingCart">Carrito de Compras</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Product" asp-action="MyProducts">Mis
                                        pedidos</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="Store" asp-action="CreateStore">Crear
                                        tienda</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="General" asp-action="Reviews">Mis
                                        reseñas</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="User"
                                    asp-action="EditProfile">Actualizar datos</a>
                                    <a class="hover:text-gray-700 mb-1" asp-controller="General" asp-action="Help">Necesito
                                        ayuda</a>
                                }
                                <hr class="my-2 w-full">
                                <i class="text-gray-700">
                                    <a class="hover:text-gray-700" asp-controller="Account" asp-action="Logout">Cerrar
                                        sesión</a>
                                </i>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center transition-transform duration-200 hover:scale-110"
                        asp-controller="Account" asp-action="Login">
                            Iniciar
                        </a>

                        <a class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center transition-transform duration-200 hover:scale-110"
                        asp-controller="Account" asp-action="Register">
                            Registrarse
                        </a>
                    }
                </div>
            </nav>
        </section>
    </header>


    <main role="main" class="w-full">

        @RenderBody()
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - EmimIndex - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/shoppingCar.js" asp-append-version="true"></script>
    }
    <script src="~/js/clearCart.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>
    <script src="~/js/CarouselSlides.js" asp-append-version="true"></script>
    <script src="~/js/swiperClick.js" asp-append-version="true"></script>
    <script src="~/js/SwitchCategory.js" asp-append-version="true"></script>
  

    @await RenderSectionAsync("Scripts", required: false)



</body>

</html>
