@using EMIM.ViewModel
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}

@await Component.InvokeAsync("BackButton")

<main class="h-screen  flex items-center justify-center">
    <div class="bg-white p-10 rounded-2xl shadow-lg w-[500px]">

        <h1 class="text-2xl font-bold text-center mb-6">Cambiar Contraseña</h1>

        <form class="space-y-4" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="w-auto h-auto"></div>

            <div>
                <input asp-for="Email"
                    class="w-full h-[50px] border border-gray-300 rounded-full px-4 focus:ring-2 focus:ring-[#13678A]"
                    placeholder="Correo Electrónico" type="email" readonly />
            </div>

            <div>
                <input asp-for="NewPassword"
                    class="w-full h-[50px] border border-gray-300 rounded-full px-4 focus:ring-2 focus:ring-[#13678A]"
                    placeholder="Nueva contraseña" type="password" />
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div>
                <input asp-for="ConfirmNewPassword"
                    class="w-full h-[50px] border border-gray-300 rounded-full px-4 focus:ring-2 focus:ring-[#13678A]"
                    placeholder="Confirmar nueva contraseña" type="password" />
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>

            <div class="flex justify-center">
                <button class="w-[220px] bg-[#56b6cc] text-white py-2 rounded-lg shadow-md hover:bg-[#13678A]">
                    Cambiar contraseña
                </button>
            </div>
        </form>

    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");

    }
}