@using EMIM.ViewModel
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}

  @await Component.InvokeAsync("BackButton")


<main class="w-full h-full flex justify-center items-center">

    

    <form class="space-y-4" asp-action="ChangePassword" method="post">

        <div asp-validation-summary="ModelOnly" class="w-auto h-auto"> </div>

        <h1>Cambiar contraseña</h1>

        <div class="flex">
            <input asp-for="Email" class="w-[320px] h-[45px] px-4 py-2 border rounded-full shadow focus:outline-none flex focus:ring-2 focus:ring-[#13678A] mt-[5px]" placeholder="Correo Electrónico" type="email" readonly/>
        </div>

        <div class="flex">
            <input asp-for="NewPassword" class="w-[320px] h-[45px] px-4 py-2 border rounded-full shadow focus:outline-none flex focus:ring-2 focus:ring-[#13678A] mt-[5px]" placeholder="Nueva contraseña" type="password" />
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div class="flex">
            <input asp-for="ConfirmNewPassword" class="w-[320px] h-[45px] px-4 py-2 border rounded-full shadow focus:outline-none flex focus:ring-2 focus:ring-[#13678A] mt-[5px]" placeholder="Confirmar nueva contraseña" type="password" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>



        <div class="flex justify-center">
            <button class="w-[150px] h-[40px] bg-[#13678A] text-white py-2 rounded-lg shadow-2xl hover:bg-[#56b6cc]" type="submit" value="Submit">
                Ingresar
            </button>
        </div>


    </form>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");

    }
}