<main>
    <section class="w-full">
        <nav style="background-color: #56b6cc;" class="flex justify-between items-center px-4">
            <img src="img/logo.jpeg" alt="logo" class="h-20 w-15 p-5">
            <div class="inline-flex rounded-full">
                <a class="bg-[#13678A] font-medium py-2 px-6 rounded-full focus:outline-none flex justify-between mx-1"
                    href="#">
                    Me
                    <img id="navbar-user-image" src="img/user.jpeg" alt="user" class="h-5 w-full mx-1 rounded">
                </a>
                <a class="bg-[#13678A] font-medium py-2 px-6 rounded-full focus:outline-none flex justify-between"
                    href="#">
                    Mi carrito
                    <img src="img/carrito.png" alt="carrito" class="h-5 w-15 mx-1 rounded-lg">
                </a>
            </div>
        </nav>
    </section>
    <section>
        <div class="flex justify-start items-center p-4">
            <button class="focus:outline-none">
                <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
        </div>
    </section>

    <section class="flex justify-center items-center w-full h-full">
        <div class="bg-white rounded-lg shadow-lg flex flex-col md:flex-row items-center justify-center w-4/5 p-6">
            <div class="flex flex-col justify-center items-center mb-8 w-full md:w-1/2">
                <div class="relative">
                    <img id="profile-image" src="img/user.jpeg" alt="User"
                        class="w-[80%] h-[70%] rounded-full object-cover mb-4">
                    <input type="file" id="file-input" class="hidden" accept="image/*">
                    <button id="change-image-button" class="absolute bottom-0 right-0 bg-gray-200 rounded-full">
                        <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center ml-8 md:flex h-full w-full md:w-1/2">
                <form id="user-edit-form">
                    <div class="flex justify-between">
                        <div class="w-1/2 py-2 pr-2">
                            <label for="nombre" class="flex justify-center items-center">Nombre</label>
                            <input type="text" id="nombre"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Nombre" />
                        </div>
                        <div class="w-1/2 py-2">
                            <label for="apellido" class="flex justify-center items-center">Apellido</label>
                            <input type="text" id="apellido"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Apellido" />
                        </div>
                    </div>

                    <div class="flex justify-between">
                        <div class="w-1/2 py-2 pr-2">
                            <label for="direccion" class="flex justify-center items-center">Dirección</label>
                            <input type="text" id="direccion"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Dirección" />
                        </div>
                        <div class="w-1/2 py-2">
                            <label for="correo" class="flex justify-center items-center">Correo</label>
                            <input type="email" id="correo"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Correo" />
                        </div>
                    </div>

                    <div class="flex justify-between">
                        <div class="w-1/2 py-2 pr-2">
                            <label for="celular" class="flex justify-center items-center">Celular</label>
                            <input type="number" id="celular"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Celular" />
                        </div>
                        <div class="w-1/2 py-2">
                            <label for="fechaNacimiento" class="flex justify-center items-center">Fecha de
                                Nacimiento</label>
                            <input type="date" id="fechaNacimiento"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Fecha de Nacimiento" />
                        </div>
                    </div>

                    <div class="flex justify-between">
                        <div class="w-1/2 py-2 pr-2">
                            <label for="contraseña" class="flex justify-center items-center">Contraseña</label>
                            <input type="password" id="contraseña"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Contraseña" />
                        </div>
                        <div class="w-1/2 py-2">
                            <label for="confirmarContraseña" class="flex justify-center items-center">Confirmar
                                Contraseña</label>
                            <input type="password" id="confirmarContraseña"
                                class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                                placeholder="Confirmar Contraseña" />
                        </div>
                    </div>

                    <div class="flex justify-center py-4">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-8 rounded-lg">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script src="~/js/editProfile.js"></script>