<main class="w-full h-[800px] flex justify-center items-center">

    <section class="w-4/5 h-auto flex flex-col border-2 border-slate-600 rounded-2xl md:flex-row">

        <section class="w-full md:w-1/2">
            <div class="flex">
                <img src="../images/logo.jpeg" alt="logo" class="w-28 h-30">
                <p class="text-5xl flex items-center">Hola de nuevo!</p>
            </div>
            <form action="">

            </form>
        </section>

        <section class="w-full md:w-1/2" style="background-color: #56b6cc;">
            <div class="md:px-20">
                <div class="flex">
                    <img src="../images/person-check.svg" class="w-8 h-8 mx-[10px]" alt="">
                    <p class="text-xs flex items-center">Plataforma de e-commerce para emprendedores locales, enfocada en aumentar la visibilidad y
                        ventas.</p>
                </div>
                <div class="flex">
                    <img src="../images/heart.svg" class="w-8 h-8 mx-[10px]" alt="">
                    <p class="text-xs flex items-center">Encuentra una gran variedad de productos únicos de emprendedores locales.</p>
                </div>
                <div class="flex">
                    <img src="../images/people.svg" class="w-8 h-8 mx-[10px]" alt="">
                    <p class="text-xs flex items-center">Apoya el comercio local y forma parte de una red de emprendedores que impulsa la economía de la
                        comunidad.</p>
                </div>
                <div class="flex">
                    <img src="../images/happy.svg" class="w-8 h-8 mx-[10px]" alt="">
                    <p class="text-xs flex items-center">Accede a ofertas exclusivas y descuentos especiales en productos seleccionados.</p>
                </div>
            </div>
        </section>

    </section>
</main>