<main>
    <section class="w-full">
        <nav style="background-color: #56b6cc;" class="flex flex-wrap items-center justify-between px-4 py-2">
            <!-- Logo -->
            <div class="flex items-center">
                <img src="img/logo.jpeg" alt="logo" class="h-16 w-auto p-2">
            </div>

            <!-- Barra de búsqueda -->
            <form class="flex items-center w-full lg:w-auto max-w-md my-2 lg:my-0 lg:mx-4" action="/buscar"
                method="GET">
                <input type="text" name="query" placeholder="Buscar productos..."
                    class="flex-grow py-2 px-4 border border-gray-300 rounded-l-full focus:outline-none focus:ring-2 focus:ring-[#13678A]"
                    required>
                <button type="submit"
                    class="bg-white p-2 rounded-r-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#13678A]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-4.35-4.35M16.5 10a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" />
                    </svg>
                </button>
            </form>

            <!-- Enlaces y botones -->
            <div class="flex items-center gap-2">
                <a class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center"
                    href="profileUser.html">
                    Me
                    <img id="navbar-user-image" src="" alt="user" class="h-6 w-6 ml-2 rounded-full">
                </a>
                <a class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center"
                    href="#">
                    Mis Ventas
                    <img src="" alt="carrito" class="h-6 w-6 ml-2">
                </a>
                <!-- Icono de menú -->
                <button id="toggle-menu"
                    class="bg-[#13678A] text-white font-medium py-2 px-4 rounded-full focus:outline-none flex items-center">
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </nav>
    </section>

    <section>
        <!--FLECHA HACIA ATRAS-->
        <div class="container">
            <div class="flex justify-start items-center p-4">
                <a class="focus:outline-none">
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                    </svg>
                </a>
            </div>
        </div>
        <!--CONTENIDO DEL MENU-->
        <div
            class="menu-container bg-[#A9C8CF] rounded-lg shadow-lg flex-col md:flex-row items-center justify-center w-1/5  absolute top-15 right-1 hidden z-20">
            <div class="flex flex-col items-center justify-center">
                <b class="font-bold mb-2">Configuraciones</b>
                <hr class="mb-2">
                <a class="hover:text-gray-700 mb-1" href="editProfile.html">Actualizar datos</a>
                <a class="hover:text-gray-700 mb-1">Mis pedidos</a>
                <a class="hover:text-gray-700 mb-1" href="reviews.html">Mis reseñas</a>
                <a class="hover:text-gray-700 mb-1">Necesito ayuda</a>
                <hr class="my-2">
                <i class="text-gray-700">
                    <a class="hover:text-gray-700">Cerrar sesión</a>
                </i>
            </div>
        </div>
    </section>

    <section class="flex justify-center w-full py-6">
        <div class="bg-white rounded-lg shadow-lg w-4/5 p-6 mx-auto">
            <h2 class="text-2xl text-center font-bold mb-4">Nuevo Producto</h2>
            <form id="new-product-form" class="grid grid-cols-2 md:grid-cols-1 gap-4">
                <!-- Columna izquierda -->
                <div class="col-span-2 md:col-span-1">
                    <label for="nombreproducto" class="block text-left">Nombre del Producto</label>
                    <input type="text" id="nombreproducto"
                        class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                        required />
                </div>
                <!--Insertar imagenes-->
                <div class="col-span-2 md:col-span-1 flex flex-col items-center">
                    <div id="image-preview"
                        class="w-32 h-32 border border-gray-300 rounded-lg flex items-center justify-center flex-wrap overflow-hidden">
                        <input type="file" id="image-upload" multiple accept="image/*" class="hidden">
                        <button type="button" onclick="document.getElementById('image-upload').click();"
                            class="mt-2 text-gray-500 underline">Seleccionar imágenes</button>
                    </div>

                </div>

                <div class="col-span-2">
                    <label for="descripcionproducto" class="block text-left">Descripción del Producto</label>
                    <textarea id="descripcionproducto" rows="4"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                        required></textarea>
                </div>

                <div>
                    <label for="precioproducto" class="block text-left">Precio del Producto</label>
                    <input type="number" id="precioproducto"
                        class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                        required />
                </div>

                <div>
                    <label for="stockproducto" class="block text-left">Stock del Producto</label>
                    <input type="number" id="stockproducto"
                        class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>

                <div>
                    <label for="coloresproducto" class="block text-left">Colores del Producto</label>
                    <input type="text" id="coloresproducto"
                        class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>

                <div>
                    <label for="tallasproducto" class="block text-left">Tallas/Tamaños</label>
                    <input type="text" id="tallasproducto"
                        class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>

                <div class="col-span-2">
                    <label for="categoriaproducto" class="block text-left">Categoría</label>
                    <select id="categoriaproducto"
                        class="w-full px-4 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="">Seleccione una categoría</option>
                        <option value="ropa">Ropa</option>
                        <option value="electrodomesticos">Electrodomésticos</option>
                        <option value="juguetes">Juguetes</option>
                    </select>
                </div>

                <div class="col-span-2 flex justify-end">
                    <button type="submit"
                        class="bg-[#13678A] hover:bg-[#0D4F65] text-white font-bold py-2 px-8 rounded-lg">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>
<script src="~js/NewProduct.js"></script>