@using EMIM.ViewModel
@model VerifyEmailViewModel

@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}

<button onclick="window.history.back();"
    class="bg-white text-center w-48 rounded-2xl h-14 relative text-black text-xl font-semibold group self-start"
    type="button">
    <div
      class="bg-blue-200 rounded-xl h-12 w-1/4 flex items-center justify-center absolute left-1 top-[4px] group-hover:w-[184px] z-10 duration-500">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" height="25px" width="25px">
        <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" fill="#000000"></path>
        <path
          d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
          fill="#000000"></path>
      </svg>
    </div>
    <p class="translate-x-2">Regresar</p>
  </button>
<main class="w-full h-full flex justify-center items-center">


                    <form class="space-y-4" asp-action="VerifyEmail" method="post">

                        <div asp-validation-summary="ModelOnly" class="w-auto h-auto"> </div>

                        <div class="flex">
                            <input asp-for="Email" class="w-[320px] h-[45px] px-4 py-2 border rounded-full shadow focus:outline-none flex focus:ring-2 focus:ring-[#13678A] mt-[5px]" placeholder="Correo Electrónico" type="email" />
                            <span asp-validation-for="Email"></span>
                        </div>

                        

                        <div class="flex justify-center">
                            <input class="w-[150px] h-[40px] bg-[#13678A] text-white py-2 rounded-lg shadow-2xl hover:bg-[#56b6cc]" type="submit" value="VerifyEmail"/>
                                
                        </div>


                    </form>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");

    }
}