<main class="w-full h-full flex flex-col justify-center items-center p-6 bg-gray-100">
      @await Component.InvokeAsync("BackButton")

  
    <div class="bg-white rounded-lg shadow-lg max-w-3xl w-full p-6">
        <h2 class="text-xl font-bold mb-4 text-center">Administrar Usuarios</h2>

        <!-- Producto -->
        <div class="bg-gray-50 rounded-lg shadow-md p-4 mb-4 flex flex-col md:flex-row items-center w-full">
            <img src="img/conjunto.jpg" alt="Usuario1" class="w-24 h-24 rounded-lg mr-4 md:w-32 md:h-32">
            <div class="flex-1">
                <h5 class="mb-2 font-semibold">Dylan Garcia</h5>
                <h4 class="text-gray-600 font-medium">Motivo</h4>
                <p class="text-gray-400 py-1 text-sm">Comentarios inapropiados en reseñas...</p>
                <p class="text-gray-400 py-1 text-sm">10/04/2024</p>
            </div>
            <div class="bg-gray-50 rounded-lg shadow-md p-4 flex flex-col items-center">
                <h3 class="text-sm font-bold">Estado del Usuario</h3>
                <button class="bg-[#F97260] text-white rounded-lg p-1 mt-2 text-sm">BLOQUEADO</button>
            </div>
        </div>

        <div class="bg-gray-50 rounded-lg shadow-md p-4 mb-4 flex flex-col md:flex-row items-center w-full">
            <img src="img/conjunto.jpg" alt="Usuario2" class="w-24 h-24 rounded-lg mr-4 md:w-32 md:h-32">
            <div class="flex-1">
                <h5 class="mb-2 font-semibold">Mierdita123</h5>
                <h4 class="text-gray-600 font-medium">Motivo</h4>
                <p class="text-gray-400 py-1 text-sm">Nombre inapropiado...</p>
                <p class="text-gray-400 py-1 text-sm">10/04/2024</p>
            </div>
            <div class="bg-gray-50 rounded-lg shadow-md p-4 flex flex-col items-center">
                <h3 class="text-sm font-bold">Estado del Usuario</h3>
                <button class="bg-[#F97260] text-white rounded-lg p-1 mt-2 text-sm">BLOQUEADA</button>
            </div>
        </div>
        <div class="bg-gray-50 rounded-lg shadow-md p-4 mb-4 flex flex-col md:flex-row items-center w-full">
            <img src="img/conjunto.jpg" alt="Usuario3" class="w-24 h-24 rounded-lg mr-4 md:w-32 md:h-32">
            <div class="flex-1">
                <h5 class="mb-2 font-semibold">Moonlight</h5>
                <h4 class="text-gray-600 font-medium">Motivo</h4>
                <p class="text-gray-400 py-1 text-sm">Productos inapropiados...</p>
                <p class="text-gray-400 py-1 text-sm">10/04/2024</p>
            </div>
            <div class="bg-gray-50 rounded-lg shadow-md p-4 flex flex-col items-center">
                <h3 class="text-sm font-bold">Estado de la Tienda</h3>
                <button class="bg-[#F97260] text-white rounded-lg p-1 mt-2 text-sm">BLOQUEADA</button>
            </div>
        </div>
    </div>
</main>