<div class="w-full flex flex-wrap justify-around bg-white">

    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/dress_category.svg" alt="">
        <span class="text-sm text-center">Ropa</span>
    </div>
    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/foot_category.svg" alt="">
        <span class="text-sm text-center">Comida</span>
    </div>
    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/tech_category.svg" alt="">
        <span class="text-sm text-center">Tecnología</span>
    </div>
    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/toy_category.svg" alt="">
        <span class="text-sm text-center">Juguetes</span>
    </div>
    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/sport_category.svg" alt="">
        <span class="text-sm text-center">Deporte</span>
    </div>
    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/makeup_category.svg" alt="">
        <span class="text-sm text-center">Maquillaje</span>
    </div>
    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/home_category.svg" alt="">
        <span class="text-sm text-center">Hogar</span>
    </div>
    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/book_category.svg" alt="">
        <span class="text-sm text-center">Libros</span>
    </div>
    <div class="flex flex-col justify-center items-center mx-2 m-2 hover:transition duration-200 ease-in-out hover:scale-125">
        <img class="h-10 w-10" src="~/images/tool_category.svg" alt="">
        <span class="text-sm text-center">Herramientas</span>
    </div>
</div>