@using EMIM.ViewModel
@model List<CategoryViewModel>


@foreach (var category in Model)
{
    <li><a href="#" class="block px-4 py-2 hover:bg-gray-100" data-category-id="@category.Id" data-category-name="@category.Name">@category.Name</a></li>
}